{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
    <div>
      <script id="_waug8a">var _wau = _wau || []; _wau.push(["map", "y9884lhk24", "g8a", "250", "125", "classic", "star-red"]);</script><script async src="//waust.at/m.js"></script>
      <script id="_wauq4x">var _wau = _wau || []; _wau.push(["dynamic", "y9884lhk24", "q4x", "5a90f0ffffff", "small"]);</script><script async src="//waust.at/d.js"></script>
    </div>
  </div>
{% endif %}


