{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
    <div>
      <p> <b>
      <i class="fas fa-fw fa-folder-open" aria-hidden="true"></i> <span class="label"> Archives: <span> <br>
      &nbsp&nbsp &#10003; <A href = "https://repository.hanyang.ac.kr/handle/20.500.11754/100449" target = "_blank" > <span class="label"> Thesis <span> </A> <br>
      &nbsp&nbsp &#10003; <A href = "https://github.com/HParkprofile/Papers" target = "_blank" > <span class="label"> Papers<span></A>
      </b> </p>
    </div>
    <br>
    <div>
      <script id="_waugn7">var _wau = _wau || []; _wau.push(["colored", "ybq9zp3x7d", "gn7", "898787000000"]);</script><script async src="//waust.at/co.js"></script>
    </div>
  </div>
{% endif %}


